.App {
  font-family: sans-serif;
  text-align: center;
}

h1{
  font-size: 900%;
  color:rgb(52, 158, 135)
}

button{
  font-size: 500%;
  margin-left: 5%;
  color: rgb(50, 160, 204);
  background-color: rgb(170, 218, 240)
}